<div class="manager-right">

    {% if files is defined and files is not empty %}

        {% set dates = [] %}

        {% for file in files %}
            {% set date = file.added|date("M d, Y") %}
            {% if date not in dates %}
                {% set dates = dates|merge([date]) %}

                <label class="section-label"><small>UPLOADED:</small> {{ file.added|date("M d, Y")|upper }}</label>
                <div class="file-group mg-b-20">
                    {% for file in files %}
                        {% if file.added|date("M d, Y") == date %}
                            <div class="file-item">
                                <div class="row no-gutters wd-100p">

                                    <div class="col-7 d-flex align-items-center">
                                        <i class="fa ion-ios-paper-outline tx-22 "></i>
                                        {{ file.file }}
                                    </div><!-- col-6 -->

                                    <div class="col-2 mg-t-5 mg-sm-t-0 text-right">{% if file.parsed != null %}<i class="tx-26 fa ion-ios-checkmark-outline" style="color: green"></i>{% endif %}</div>
                                    <div class="col-2 mg-t-5 mg-sm-t-0 text-right">{{ file.added|date("H:i") }}</div>
                                    <div class="col-1 tx-right mg-t-5 mg-sm-t-0">

                                        <!-- SMALL MODAL -->
                                        <div id="modal{{ file.id }}" class="modal fade">
                                            <div class="modal-dialog modal-sm" role="document">
                                                <div class="modal-content bd-0 tx-14">
                                                    <div class="modal-header pd-x-20">
                                                        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Warning!</h6>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body pd-20">
                                                        <p class="mg-b-5">You are about to delete file. <br>
                                                            <strong>Please confirm!</strong></p>
                                                    </div>
                                                    <div class="modal-footer justify-content-center">
                                                        <form action="{{ path('fileManagerDelete') }}" method="post">
                                                            <input type="hidden" name="file_id" value="{{ file.id }}">
                                                            <input type="submit" name="submit" class="btn btn-primary" value="Delete">
                                                        </form>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div><!-- modal-dialog -->
                                        </div><!-- modal -->

                                        <a href="" data-toggle="modal" data-target="#modal{{ file.id }}"><i class="icon ion-trash-b tx-22"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}

        <div class="modal d-block pos-static">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color: transparent">
                    <div class="modal-body tx-center pd-y-20 pd-x-20">
                        <i class="icon icon ion-ios-close-outline tx-100 lh-1 mg-t-20 d-inline-block"></i>
                        <h4 class="mg-b-20">No files uploaded for this month!</h4>

                    </div><!-- modal-body -->
                </div><!-- modal-content -->
            </div><!-- modal-dialog -->
        </div><!-- modal -->

    {% endif %}
</div><!-- manager-right -->