<div class="slim-pageheader">
    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle mg-l-5" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa ion-ios-calendar-outline mg-r-5"></i> Choose month
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for date in userDates %}
                <a class="dropdown-item" href="{{ path('budget', {'year': date.year, 'month': date.month}) }}">{{ date.monthName }} {{ date.year }}</a>
            {% endfor %}
        </div>
    </div>

    <form action="{{ path('budgetedit', {'year': year, 'month': month}) }}" class="mg-l-auto"><button type="submit" class="btn btn-secondary mg-l-auto wd-100">Edit</button></form>

    <h6 class="slim-pagetitle">Budget / {{ monthName }} {{ year }}</h6>
</div>

