<div class="slim-pageheader">

    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle mg-l-5" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa ion-ios-calendar-outline mg-r-5"></i> Choose month
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for date in userDates %}
                <a class="dropdown-item" href="{{ path('dashboard', {'year': date.year, 'month': date.month}) }}">{{ date.monthName }} {{ date.year }}</a>
            {% endfor %}
        </div>
    </div>

    <button class="btn btn-primary mg-l-auto wd-150" data-toggle="modal" data-target="#modaldemo1"><i class="fa ion-android-add mg-r-5"></i> New month</button>

    {% include 'dashboard/newMonthModal.html.twig' %}

    <h6 class="slim-pagetitle">Dashboard / {{ monthName }} {{ year }}</h6>
</div>

